@charset "utf-8";
/******************************************************************************
/* Greenapple-room  common css file
*******************************************************************************/

/******************************************************************************
/* body
*******************************************************************************/
body {
	background:				#f6f3ec;
}

/******************************************************************************
/* バナー
*******************************************************************************/
.banner {
	margin:					10px 0 0 0;
	padding:				5px 5px 5px 5px;
	background:				#ffffff;
}
.banner img{
	margin:					0 auto;
}

/******************************************************************************
/* ナビゲーション
*******************************************************************************/
.my_nav li{
	margin:					5px 0 0 0;
	width:					188px;
	text-align:				center;
	border-radius:			5px;
	background-color:		#dddddd;
}

/******************************************************************************
/* コンテンツ
*******************************************************************************/
.my_contents {
	margin:					10px 0 0 0;
	padding:				0;
	background-color:		#ffffff;
}
.my_contents h2{
	margin:					0;
	padding:				10px 5px 10px 10px;
	background-color:		#f4a460;
	color:					#fefefe;
	font-size:				14px;
}
.my_contents p{
	margin:					0;
	padding:				5px 10px 5px 10px;
}
.my_contents a{
	text-decoration:		none;
}
.my_contents dl{
	margin:					0;
	padding:				5px 0 5px 0;
}
.my_contents dt{
	width: 					90px;
	font-weight:			normal;
}
.my_contents dd{
	margin-left:			105px;
}


/******************************************************************************
/* サムネイル
*******************************************************************************/
.thumbnail {
	margin:					10px 0 0 0;
	padding:				0;
}
.thumbnail h2 {
	padding:				10px 0 10px 0;
	margin:					0;
	text-align:				center;
	background-color:		#f4a460;
	color:					#fefefe;
	font-size:				14px;
}

/******************************************************************************
/* フッタ
*******************************************************************************/
.footer {
	margin:					10px 0 0 0;
	padding:				20px 0 20px 0;
	background-color:		#dddddd;
	font-size:				14px;
}
.footer a{
	text-decoration:		none;
}
.footer h2{
	padding:				8px 0 8px 0;
	margin:					5px 0 10px 0;
	text-align:				center;
	border-radius:			3px;
	background-color:		#888888;
	color:					#fefefe;
	font-size:				14px;
}

/******************************************************************************
/* copyright
*******************************************************************************/
.copyright {
	padding:				10px 0 10px 0;
	color:					#fefefe;
	background-color:		#222222;
}
.copyright p {
	padding:				0;
	margin:					0;
}
.copyright a {
	text-decoration:		none;
	color:					#fefefe;
}
.copyright a:hover {
	color:					#acacee;
}

/******************************************************************************
/* スライダー
*******************************************************************************/
.carousel-inner img {
	width: 100%;
}

/******************************************************************************
/* flow
*******************************************************************************/
.flow img {
	align: center;
	width: 100%;
	max-width: 100%;
	height: auto;
}
