@charset "utf-8";
/******************************************************************************
/* Greenapple-room  common css file
*******************************************************************************/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
/******************************************************************************
/* body
*******************************************************************************/
body {
	padding-top: 			51px;
	font-family: 			Verdana, 'Noto Sans JP', sans-serif;
	background-color:		#f2f3f5;
}
.contents_area {
	padding:				30px 0 30px 0;
	background-color:		#ffffff;
}
/******************************************************************************
/* ページトップ
*******************************************************************************/
.page_top {
	color:					#ffffff;
	background-position:	center center;
	background-repeat:		no-repeat;
	background-size:		cover;
}
.home_top {
	background-image:		url("../img/top.png");
	padding:				150px 0 150px 100px;
}
/*.service_top {*/
	/*background-image:		url("img/main_top3.png");*/
	/*padding:				100px 0 100px 100px;*/
/*}*/
/*.blog_top {*/
	/*background-image:		url("img/main_top4.png");*/
	/*padding:				150px 0 150px 100px;*/
/*}*/
/*.contact_top {*/
	/*background-image:		url("img/main_top5.png");*/
	/*padding:				100px 0 100px 100px;*/
/*}*/
.page_top p {
	font-size: 				18px;
	color: 					#ffffff;
}
/******************************************************************************
/* タイトル
*******************************************************************************/
.titlestyle {
	padding: 				10px 0 10px 20px;
	background-color: 		#2b343d;
	color: 					#ffffff;
}
/******************************************************************************
/* はじめに
*******************************************************************************/
.noticestyle{
	padding: 				0 15px 20px 15px;
}
.noticestyle p{
	padding: 				0 15px 0 15px;
}
/******************************************************************************
/* 新着情報
*******************************************************************************/
.newsstyle{
	padding: 				0 15px 20px 15px;
}
.news {
	width: 					100%;
/*	background-color: 		#999999;*/
}
.news .n_date {
	padding: 				10px 5px 10px 10px;
	width: 					10%;
	vertical-align: 		top;
	color: 					#2f2f2f;
}
.news .n_categories {
	padding: 				10px 5px 10px 10px;
	width: 					20%;
	vertical-align: 		top;
	color: 					#2f2f2f;
}
.news .n_contents {
	padding: 				10px 10px 10px 10px;
	width: 					70%;
	color: 					#2f2f2f;
}
/******************************************************************************
/* コンテンツ BOX表示
*******************************************************************************/
.boxstyle_01 {
	padding: 				10px 10px 10px 10px;
	margin: 				20px 0 20px 0;
}
.boxstyle_01 .iconstyle {
	margin-bottom:			15px;
	text-align: 			center;
	color: 					#99eea0;
}
.boxstyle_01 .iconstyle_02 {
	margin-bottom:			15px;
	text-align: 			center;
	color: 					#5566ee;
}
.boxstyle_01 h4 {
	margin-bottom:			20px;
	text-align: 			center;
}
.boxstyle_01 p {
	font-size: 				13px;
	color: 					#343434
}
.boxstyle_02 {
	margin-bottom:			20px;
	box-shadow: 			0 2px 4px rgba(0,0,0,0.3);
}
.boxstyle_02 .cardtyle {
	margin-bottom:			15px;
	border-left:			solid 1px #cccccc;
	border-right:			solid 1px #bbbbbb;
	border-bottom:			solid 1px #bbbbbb;
}
.boxstyle_02 h4 {
	margin:					0;
	padding:				10px 0 10px 0;
	text-align: 			center;
	background-color: 		#4f4f4f;
	color: 					#f0f0f0;
}
.boxstyle_02 p {
	padding:				20px 10px 10px 10px;
	font-size: 				13px;
	color: 					#5f5f5f;
}
/******************************************************************************
/* Blog リスト表示
*******************************************************************************/
.blog_listitem {
	padding:				10px 10px 10px 10px;
}
.blog_widget {
	padding:				10px 10px 10px 0;
}
/******************************************************************************
/* コンタクト　googlemap
*******************************************************************************/
.google-maps {
	position: 				relative;
	padding-bottom: 		40%;
	margin-bottom:			30px;
	height: 				0;
	overflow: 				hidden;
	border: 				solid 1px #afafaf;
}
.google-maps iframe {
	position: 				absolute;
	top: 					0;
	left: 					0;
	width: 					100% !important;
	height: 				100% !important;
	padding: 				10px 10px 10px 10px;
}
/******************************************************************************
/* コンタクト　会社情報
*******************************************************************************/
.contactstyle {
	margin: 				0;
	background-color: 		#4f4f4f;
}
.contact_info {
	padding:				15px 10px 15px 10px;
	color: 					#f0f0f0;
}
/******************************************************************************
/* コンタクト　メッセージ送信
*******************************************************************************/
.contact_form {
	padding:				15px 10px 15px 10px;
}
/******************************************************************************
/* フッタ
*******************************************************************************/
footer {
	padding:				100px 0 100px 0;
	background-color:		#343434;
	font-size:				16px;
}
footer a {
	text-decoration:		none;
}
footer a:hover {
	text-decoration:		none;
	color:					#fefefe;
}
footer ul.pages {
	margin-bottom:			40px;
}
footer ul.pages li {
	display:				inline;
}
footer ul.pages li:not(:last-child){
	margin-right:			20px;
}
/******************************************************************************
/* ソーシャルアイコン一覧表示
*******************************************************************************/
ul.social_icons li {
	display:				inline;
}
ul.social_icons li:not(:last-child) {
	margin-right:			5px;
}
ul.social_icons i.s_icon {
	width:					50px;
	height:					50px;
	text-align:				center;
	-webkit-border-radius:	50%;
    -moz-border-radius:		50%;
    border-radius:			50%;
	padding:				10px 0 0 0;
	background-color:		#222222;
	color:					#fefefe;
}
ul.social_icons i.color_twitter:hover {
	background-color:		#55acee;
}
ul.social_icons i.color_facebook:hover {
	background-color:		#3b5998;
}
ul.social_icons i.color_google_plus:hover {
	background-color:		#dd4b39;
}
ul.social_icons i.color_instagram:hover {
	background-color:		#3f729b;
}
ul.social_icons i.color_pinterest:hover {
	background-color:		#cc2127;
}
/******************************************************************************
/* copyright
*******************************************************************************/
.copyright {
	padding:				10px 0 10px 0;
	color:					#fefefe;
	background-color:		#222222;
}
.copyright p {
	padding:				0;
	margin:					0;
}
.copyright a {
	text-decoration:		none;
	color:					#fefefe;
}
.copyright a:hover {
	color:					#acacee;
}
